#coursework{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    width: 90%;
    margin: 0 auto;
}

.courseWorkBody{
    width: 90%;
}


.nav-tabs{
    --bs-nav-tabs-link-active-bg: var(--primary-color) !important;
    --bs-nav-tabs-border-color: var(--text-color) !important;
    --bs-nav-tabs-link-hover-border-color: var(--text-color) !important;
}

.nav-tabs .nav-link.active{
    border-color: var(--text-color) !important;
}

.nav-link{
    color: var(--text-color) !important;
}

.nav-link.active{
    color: var(--text-color) !important;
}

.courseWorkTable{
    --bs-table-bg: var(--bg-color) !important;
    --bs-table-color: var(--text-color) !important;
    --bs-table-striped-color: var(--text-color) !important;
    --bs-table-striped-bg: var(--primary-color) !important;
    --bs-table-border-color: var(--text-color) !important;
}

th{
    width: 25%;
}

.favoriteClasses{
    padding-bottom: 2rem;
}
.tab-content>.active{
    overflow-x: auto;
}
@media (max-width: 600px) {
    .nav {
      display:block !important;
    }
    .courseWorkBody{
        width: 100%;
    }
  }