#projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    width: 90%;
    margin: 0 auto;
}

.projectsBodyContainer{
    display: grid;
    gap: 4rem; 
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.projectCard{
    background: var(--primary-color);
    border-radius: 2rem;
    padding: 2.4rem 3rem;
}

.projectImg{
    max-width: 300px;
    height: 200px;
}

.cookItImgs{
    height: 200px;
    /* display: flex; */
    flex-direction: row;
}

.projectTitle{
    padding-top: 1rem;
}

.projectContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectInfo{
    padding-bottom: 1rem;
}

.projectLink{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--bright-color) !important;
    font-size: 20px !important;
}

@media (max-width: 1200px) {
    .projectsBodyContainer{
        gap: 2rem; 
        grid-template-columns: 1fr;
        max-width: none !important;
    }
    .projectCard{
        padding: 1.4rem 1.5rem;
    }
}

@media (min-width: 1200px) {
    .projectInfo {
        font-size: 1.25rem;
    }
}