:root {
    /* Light theme colors */
    --bright-color: #f5edde;
    --dark-color: #1d2936;
    --bg-color: #f5edde;
    --text-color: #1d2936;
    --primary-color: #9EAFB6;
    --secondary-color: #7c2f00;
    --tertiary-color: #5b5d8f;
  }
  
  .dark-mode {
    /* Dark theme colors */
    --bright-color: #f5edde;
    --dark-color: #1d2936;
    --bg-color: #1d2936;
    --text-color: #f5edde;
    --primary-color: #9EAFB6;
    --secondary-color: #7c2f00;
    --tertiary-color: #5b5d8f;
  }

  /* 233349 */