:root {
    /* Light theme colors */
    --bg-color: #EDD6CC;
    --text-color: #233349;
    --primary-color: #9EAFB6;
    --secondary-color: #A8512F;
  }
  
  .dark-mode {
    /* Dark theme colors */
    --bg-color: #233349;
    --text-color: #EDD6CC;
    --primary-color: #9EAFB6;
    --secondary-color: #A8512F;
  }