#skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    width: 90%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.skillsCard{
    background: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2.4rem 5rem;
}
.skillsBodyContainer{
    display: grid;
    gap: 5%;
    grid-template-columns: 50% 50%;
    justify-content: center; /* Vertically center content */
    align-items: center;
    width: 90%;
}
@media (max-width: 600px) { /* Adjust the width as needed */
    .skillsBodyContainer {
      grid-template-columns: 1fr !important;
      width: 100%;
    }
    .skillsCard{
        padding: 0;
    }
    .skillsTitle{
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }
    .skillsContent{
        margin: 0 1rem;
        margin-bottom: .5rem;
    }
  }

h4{
    text-align: left !important;
    margin-top: .5rem !important;
}

article{
    display: flex;
    align-items: center; /* Vertically centers the content */
    /* width: 50%; */
    gap: .5rem;
}

svg{
    display: block;
    align-items: center;
}