@import '../../styles/theme.css';
#resume {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 600px) { /* Adjust the width as needed */
    .majorInfo {
      grid-template-columns: 1fr !important;
      gap: .5rem;
    }
    .accordion-body{
        grid-template-columns: 1fr !important;
        gap: .5rem;
    }
  }

.resume-card {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.accordion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.accordion-button::after {
    position: absolute;
    right: 10px;
    margin-left: auto;
    color: var(--text-color) !important;
    background-image: none !important;
}

.accordion-body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--text-color);
}

#resume .accordion {
    width: 100%;
    margin: 0 auto;
}

.educationBody{
    display: flex;
    flex-direction: column;
}

.universityInfo{
    width: 100%;
    padding-bottom: 1%;
}

.majorInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accordion-item{
    border: var(--secondary-color) !important;
}

.accordion-button:focus, .accordion-button:focus-visible {
    box-shadow: 0 0 0 0px var(--primary-color) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-button:not(.collapsed){
    color: var(--background-color) !important;
    color: var(--text-color) !important;
}


/* .card-text{
    color: var(--text-color) !important;
} */

.card-body {
    color: var(--text-color) !important;
    background-color: var(--primary-color);
}

/* .card-header{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
} */

.chevron-icon {
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .rotate-icon {
    transform: rotate(180deg); /* Rotate the icon 180 degrees */
  }