#home{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 125px;
}
h1{
  padding-bottom: 25px;
}

.helloHeader{
  padding-top: 150px;
  padding-bottom: 25px;
}

h6{
  padding-bottom: 25px;
}

.gradphoto{
  border-radius: 10px;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .gradphoto{
    margin-bottom: 50px;
  }
  .helloHeader{
    padding-top: 125px;
  }
}