#contact{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    width: 90%;
    margin: 0 auto 100px;
}

.contactBody{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.contactForm{
    width: 100%;
    height: 100%;
    display: grid;
}

.contactFormButton{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--bright-color) !important;
    font-size: 20px !important;
    padding: .5rem 1.5rem !important;
}

.form-control{
    background-color: var(--bg-color) !important;
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}

.floatingFormLabel{
    margin-bottom: 1rem;
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
}

.form-floating>.form-control:focus~label::after{
    background-color: var(--bg-color) !important;
}

.form-floating>.form-control:focus~label{
    color: var(--text-color) !important;
}

.contactOptions{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:end;
    gap: 1rem;
}

.contactCard{
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
    width: 100%;
}

.contactIcon{
    font-size: 32px;
}

.form-floating>.form-control:not(:placeholder-shown)~label::after{
    background-color: var(--bg-color) !important;
}

.form-floating>.form-control:not(:placeholder-shown)~label{
    color: var(--text-color) !important;
}

@media (max-width: 600px) {
    .contactBody{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .contactFormContainer{
        padding: 1rem 0;
    }
    .contactCard{
        width: 100%;
    }
}