nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: var(--primary-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
}

.theme-toggler-container{
  display:flex;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--dark-color);
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--bright-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icons {
    display: inline-block;
    margin-left: 14px;
}
.social-icons a {
    width: 42px;
    height: 42px;
    background: var(--dark-color);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid var(--dark-color);
}
.social-icons a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: var(--bright-color);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icons a:hover::before {
    transform: scale(1);
}
.social-icons a svg {
	width: 40%;
	z-index: 1;
  color: var(--bright-color);
	transition: 0.3s ease-in-out;
}
.social-icons a:hover svg {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  border-radius: 8px;
  font-weight: 700;
  color: var(--bright-color);;
  border: 1px solid var(--bright-color);
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--bright-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}
.navbar-text button:hover {
  color: var(--dark-color);
  border: 1px solid var(--bright-color);
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  border-radius: 6px;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--bright-color);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--bright-color);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--bright-color);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: var(--bright-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--bright-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.navbar-collapse{
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
}

.margin-control{
  margin-right: 34px;
}

@media(max-width: 600px)  {
  .warningMessage{
    font-size: medium;
  }
  .navbar-nav{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0rem 1rem !important;
    row-gap: .5rem;
  }
  .nav-link.navbar-link{
    padding: 0% !important;
  }
  .navbar-section{
    justify-content: center;
  }
  .theme-toggler-container{
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
  }
  .navbar-sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; 
    align-items: flex-start;
  }
  .navbar-collapse{
    align-self: center;
    grid-column: 1 / -1; /* Spans from the first to the last column */
    grid-row: 2;
  }

  .navbar-toggler{
    grid-column: 1;
    grid-row: 1;
    width: auto;
    justify-self: center;
  }

  .social-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
  }

}