.footer {
    text-align: center;
    padding: 20px 10px 0px 10px;
    background-color: #4b515d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerText{
    color:#fff !important;
}

.sponge{
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}

.col{
    display: flex;
}

.vstack{
    align-self: center !important;
}

.links{
    color:#fff
}

/* p{
    color: #fff !important
} */
