.footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerText{
    color: var(--bright-color) !important;
    margin-bottom: auto;
}

.sponge{
    width: 100px;
    /* height: ; */
    display: block;
    margin: 0 auto;
}

.col{
    display: flex;
}

.vstack{
    align-self: center !important;
}

.links{
    color: var(--bright-color) !important;
}

/* p{
    color: #fff !important
} */
